header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container{
    width: 50%;
    margin: 15px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    font-weight: bold;
}
.form-group-inline {
    display: flex;
    gap: 10px;
}
.form-group-inline .form-group {
    flex: 1;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="agregarExp"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
button[type="exit"] {
    width: 100%;
    padding: 10px;
    background-color: #21364ca5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px; /* Espacio entre botones */
}
button[type="mostarIdiomas"]{
    background-color: #007bff;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}

.hidden{
    display: none;
}


input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    background-color: #f9f9f9;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.exp-container {
    margin-top: 20px;
}